body {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.intro {
    display: grid;
    grid-template-columns: 30% 70%;
}

.right-contain {
    float: left;
    height: 125%;
    background-image: url("images/20191217_160216.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0
}

#wrt {
    margin-top: 30%;
    margin-left: 30px;
    color: white;
}

#wrt button {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

#wrt button a {
    text-decoration: none;
    color: black;
}

.intro .lft-contain {
    background-color: rgb(207, 212, 154);
    height: 125%;
    float: left;
}

.mimg img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-left: 30%;
    margin-top: 40px;
}

.mimg h2,
h3 {
    text-align: center;
}

.dtls ul li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
}

.dtls ul li a {
    text-decoration: none;
    color: black;
}

.cp {
    text-align: center;
}

.dtls ul li.active a {
    color: blue;
    text-decoration: underline;
}